<div class="index_div">
    <div class="welcome_div">
        <h1>Welcome to imbibed!</h1>
        <h2>The personal database to keep track of your favorite wines!  Please select a database from the list below to continue.</h2>
        <h2>CHEERS!!</h2>
    </div>

    <div class="db-buttons-div">

        <div>
            <a href="/wines">
                <img src="https://cdn.pixabay.com/photo/2020/02/02/15/07/wine-4813260_1280.jpg" alt="wine pouring" style="width:9rem;height:9rem">
            </a>
        </div>

        <div>
            <a href="/beers">
                <img src="https://cdn.pixabay.com/photo/2020/03/13/04/00/beer-4926861_1280.jpg" alt="flight of beers" style="width:9rem;height:9rem">
            </a>
        </div>
        <!-- <div class="wine-button"><h1><a href="/wines" class="aTagButton">Wines</a></h1></div> -->

    </div>

    <div class="disclaimer">
        <h5>Disclaimer and Legal: By using our service, you are validating that you are of legal age for cunsumption of alcohol in your local jusridiction.</h5>
    </div>
</div>
