<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imbibed</title>
    <link rel="stylesheet" href="/main.css">
</head>
    
<body>
    
    
    <nav>

        <label class="logo" >imbibed</label>

        <button id="hamburger" style="width:40px; height: 40px;border-radius: 4px;"><p>&#9776;</p></button>

        <ul id="nav-ul">

            <li class="nav"><a href='/' class="aTagButton">Homepage</a></li>
            <li class="nav"><a href='/wines' class="aTagButton">Wines Home</a></li>
            <li class="nav"><a href='/beers' class="aTagButton">Beers Home</a></li>
            <li class="nav"><a href='#' class="aTagButton">Future</a></li>
            <% if (!loggedIn) { %>
                <li class="nav"><a href='/session/register' class="aTagButton">Register</a></li>
                <li class="nav"><a href='/session/login' class="aTagButton">Log In</a></li>
            <% } else { %>
                <li class="nav"><a href='/session/logout' class="aTagButton">Log Out</a></li>
            <% } %>
            

        </ul>
        <% if (username) { %>
            <p class="nav" id="nav_username">Welcome <%= username %></p>
        <% } %>
    </nav>
    

    <main>
        <% if (message) { %>
            <p class="flash_message"> <%= message %> </p>
        <% } %>
        
        <%- body %> 

    </main>

    <footer>copyright jherpin2022</footer>

    <script>
        console.log("hello world!")
        function hamburgerMenu() {
            const hamburger = document.getElementById("hamburger");
            const navUL = document.getElementById("nav-ul");

            hamburger.addEventListener('click', () => {
                navUL.classList.toggle('show');
            });
        }
        hamburgerMenu()
        
    </script>
</body>

</html>