<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imbibed</title>
    <link rel="stylesheet" href="/main.css">
</head>
    
<body>
    
    
    <nav>

        <label class="logo" >imbibed</label>

        <ul>

            <li class="nav"><a href='/' class="aTagButton">Homepage</a></li>
            <li class="nav"><a href='/wines' class="aTagButton">Wines Home</a></li>
            <li class="nav"><a href='/beers' class="aTagButton">Beers Home</a></li>
            <li class="nav"><a href='#' class="aTagButton">Future</a></li>

        </ul>

    </nav>
    

    <main>
        
        <%- body %> 

    </main>

    <footer>copyright jherpin2022</footer>
    
</body>

</html>