<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embibed</title>
    <link rel="stylesheet" href="/main.css">
</head>
    
    <body id="body">
        
        <header>
            <H1>Welcome to Imbibed!</H1>
            <ul id="navBar">

                <li id="navHome" class="nav">Homepage</li>
                <li id="navWine" class="nav">Wine Home</li>
                <li class="nav">Homepage</li>
                <li class="nav">Homepage</li>

            </ul>
        </header>

        <main>
            
            <div id="body-div">
            

                <%- body %> 

            </div>

        </main>

        <footer>copyright jherpin2022</footer>

    </body>

</html>