
:root {
    /* --mainColor: #11303fb9; */
    /* --mainColor: #11303f; */
    /* --mainColor: #071d28; */
    /* --mainColor: #521b1b; */
    --mainColor: #280008;
    --secondaryColor: #fff;
    --borderColor: #071d28;
    
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Maybe remove this? */
/* html {
    height: 100%;
    width: 100%;
} */

body, main {
    /* background-image: url('https://cdn.pixabay.com/photo/2014/08/06/14/27/wood-411643_1280.jpg'); */
    height: 100%;
    font-family: Helvetica, Verdana, sans-serif;
} 

body {
    background-image: url('https://cdn.pixabay.com/photo/2014/08/06/14/27/wood-411643_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* justify-content: center; */
    position: relative;
    min-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

main {
    /* background-color: rgba(200, 44, 23, 0.68); */
    /* min-height: 100%; */
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-bottom: 2.5rem;
}

/* --------------------  Nav Bar Styling  ---------------------- */

nav {
    width: 100%;
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* background: #11303fb9; */
    background: var(--mainColor);
    min-height: 80px;
}

.logo {
    color: white;
    font-size:40px;
    /* line-height: 80 px; */
    padding: 0 90px 0 110px;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    /* line-height: 80px; */
    margin: 0 12px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

#hamburger {
    display: none;
    font-size: 40px;
    background-color: transparent;
    color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    padding-bottom: none;
    
}

#nav_username {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: 20px;
    align-self: center;
}

/* ------------ Register Form Styling  -----------------------------*/

.register-section {
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-main-div {
    background-color: var(--mainColor);
    border: 1px solid var(--borderColor);
    margin-top:  150px;
    padding: 10px;
    height: 50%;
    width: 30%;
    border-radius: 4px;
}

#register-form-title {
    text-align: center;
    color:#fff;
}

.form-input-label {
    color: #fff;
    line-height: 2.7em;
}

#register-form {
    line-height: 24px;
    font-size: 16px;

    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    /* background-color: var(--mainColor); */
    margin-bottom: 50px;
}

.register-form-input {
    /* width: calc(100% - 30px); */
    width: 100%;
    color: #fff;
}

/* ------------ LogIn Form Styling  -----------------------------*/

.login-main-div {
    background-color: var(--mainColor);
    border: 1px solid var(--borderColor);
    margin-top: 150px;
    padding: 10px;
    height: 50%;
    width: 30%;
    border-radius: 4px;
}

#login-form-title {
    text-align: center;
    color: #fff;
}

/* ------------ Footer Styling  -----------------------------*/

footer {
    /* flex-shrink: 0; */
    width: 100%;
    height: 4rem;
    color: white; 
    background: #11303fb9;
}

/* ------------ Index/Home Page Styling  --------------------*/

.index-div {
    width: 100%;
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.687);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome_div {
    margin: auto;
    width: 75%;
    text-align: center;
    align-content: center;
}

.welcome_div h1 {
    color: aliceblue;
    margin-top: 50px;
}

.welcome_div h4, h2, h5{
    color: papayawhip;
    margin-top: 25px;
    margin-bottom: 2.5rem;
}

.db-buttons-div {
    margin: 100px 0;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    column-gap: 50px;
}

.welcome-screen-image-text {
    color: whitesmoke;
    margin-top: 10px;
}

/* .db-buttons-div > div {
    /* margin-left: 15px; 
} */



.disclaimer {
    text-align: center;
}

/* -----------------  Wine Index/List Style -------------- */

.indexWines {
    background-color: white;
    margin: 75px auto 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

table {
    margin: 30px auto 0 auto;
    table-layout: fixed;
    width: 98%;
    border-collapse: collapse;
    border: 3px solid black;
}

thead th:nth-child(1) {
    width: 25%;
}

thead th:nth-child(2) {
    width: 25%;
}

thead th:nth-child(3) {
    width: 25%;
}

thead th:nth-child(4) {
    width: 12.5%;
}

thead th:nth-child(5) {
    width: 12.5%;
}

th {

    background-color: cornflowerblue;
}

th, td {
    padding: 20px;
}

td {
    border: 2px solid blue;
}

/*  ----------------- Wine showWine Page Styling ----------- */

.wine_show_name {
    width: 100%;
} 

.wine_show_name h1 {
    margin: 2.5rem 0 0 2rem;
}

.wine_show_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.wine_show_main {  
    margin: 4rem 0 0 0;
    display: flex;
}

.wine_show_btns {
    display: flex;

}

.wine_show_rest h4 {
    margin-top: .25rem;
}

/*  ----------------- Wine Edit Form Styling ----------- */

fieldset {
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px #ccc;
    border-radius: 6px;
    width: 25em;
    min-width: 1200px;
    font-style: italic;
}

Legend {
    font-size: 1.25em;
    padding: 0 .25em;
    color: #999;
}

label {
    display: block;
    margin-top: 1em;
}

label:first-of-type {
    margin-top: 0;
}


input {
    padding: .5em;
    border: solid 1px #999;
    width: 100%;
}

input:last-of-type {
    margin-top: 2em;
}

.wine_submit_btn {
    width: 500px;
}

/*  ----------------- Flash Messaging Styling ----------- */

.flash_message {
    color: red;
    margin: 0 auto 0 0;
}

/* ------------------ Reactive Styling ------------------ */



@media screen and (max-width: 800px) {

    /* -------- Nav + Hamburger -------- */
    nav {
        justify-content: space-around;
        /* justify-content: space-evenly; */

    }

    .logo {
        padding: 0px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        text-align: left;
        /* padding-right: 75px; */
    }

    #nav-ul.show {
        display: flex;
    }

    #hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* -------- Home Screen -------- */

    .db-buttons-div {
        display: block;
    }

    
}