* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* html, main, body { */
/* html, body { */
body, main {
    height: 100%;
} 

body {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5rem;
}

/* --------------------  Nav Bar Styling  ---------------------- */

nav {
    display: flex;
    align-items: center;
    background: #2660b1;
    height: 80px;
}

label.logo {
    color: white;
    font-size:40px;
    /* line-height: 80 px; */
    padding: 0 90px 0 110px;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    /* line-height: 80px; */
    margin: 0 12px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

#nav_username {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: 20px;
    align-self: center;
}

/* ------------ Footer Styling  -----------------------------*/

footer {
    /* position: absolute;
    bottom: 0; */
    flex-shrink: 0;
    width: 100%;
    height: 4rem;
    /* margin-top: 2.5rem; */
    background: #2660b1;
    color: white; 
}

/* ------------ Index/Home Page Styling  --------------------*/

.index_div {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome_div {
    margin: auto;
    width: 75%;
    text-align: center;
    align-content: center;
}

.welcome_div h1 {
    margin-top: 50px;
}

.welcome_div h2 {
    margin-top: 25px;
}

.db-buttons-div {
    margin: 100px 0 100px 0;
    display: flex;
    align-items: center;
    /* background-image: url('https://cdn.pixabay.com/photo/2020/02/02/15/07/wine-4813260_1280.jpg');
    background-size: contain;
    background-repeat: no-repeat; */
}

.disclaimer {
    text-align: center;
}

/* -----------------  Wine Index/List Style -------------- */

.indexWines {
    background-color: white;
    margin: 75px auto 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

table {
    margin: 30px auto 0 auto;
    table-layout: fixed;
    width: 98%;
    border-collapse: collapse;
    border: 3px solid black;
}

thead th:nth-child(1) {
    width: 25%;
}

thead th:nth-child(2) {
    width: 25%;
}

thead th:nth-child(3) {
    width: 25%;
}

thead th:nth-child(4) {
    width: 12.5%;
}

thead th:nth-child(5) {
    width: 12.5%;
}

th {

    background-color: cornflowerblue;
}

th, td {
    padding: 20px;
}

td {
    border: 2px solid blue;
}

/*  ----------------- Wine showWine Page Styling ----------- */

.wine_show_name {
    /* display: flex; */
    width: 100%;
} h1 {
    margin: 2.5rem 0 0 2rem;
}

.wine_show_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.wine_show_main {  
    margin: 4rem 0 0 0;
    display: flex;
}

.wine_show_btns {
    display: flex;

}

.wine_show_rest h4 {
    margin-top: .25rem;
}

/*  ----------------- Wine Edit Form Styling ----------- */

fieldset {
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px #ccc;
    border-radius: 6px;
    width: 25em;
    min-width: 1200px;
    font-style: italic;
}

Legend {
    font-size: 1.25em;
    padding: 0 .25em;
    color: #999;
}

label {
    display: block;
    margin-top: 1em;
}

/* .checks label {
    margin-top: 0;
} */

label:first-of-type {
    margin-top: 0;
}


input {
    padding: .5em;
    border: solid 1px #999;
    width: 100%;
}

input:last-of-type {
    margin-top: 2em;
}

.wine_submit_btn {
    width: 500px;
}
