<!-- <div class="register-section"> -->
    <div class="register-main-div">
        <h3 id="register-form-title">Register</h1>
    
        <form id="register-form" action="/session/register" method="POST">
                <label class="form-input-label" for="username">Username:</label>
                <input class="register-form-input" type="text" id="username" name="username">
           
                <label class="form-input-label" for="password">Password:</label>
                <input class="register-form-input" type="password" id="password" name="password">
            
                <label class="form-input-label" for="verifyPassword"> Re-type Password:</label>
                <input class="register-form-input" type="password" id="verifyPassword" name="verifyPassword">
    
            <input type="submit" value="Register">
        </div>
    </form>
<!-- </div> -->